
#page {
  padding: 20px;
  background: none;
}

#logo {
  margin: 0 10px 20px 0;
  height: 0px;
}

#main {
  padding: 15px -1px 10px 15px;
}

#footor {
  min-height: 0px;
}

#pixture-reloaded {
  background: none;
}

/**
 * Remove #footer 
 */
