
#page {
  padding: 20px;
  background: none;
}

#logo {
  margin: 0 10px 20px 0;
}

#main {
  padding: 15px -1px 10px 15px;
}

#footor {
  min-height: 0px;
}

#header,
.header-inner,
#pixture-reloaded {
  background: none;
}

body {
  background-color: #fff;
  line-height: normal;
}

/*-------------------------------------------------------------------*/
/*                          Sidebar Blocks                           */
/*-------------------------------------------------------------------*/
.region-sidebar-first, .region-sidebar-second {
  background: #FFF;
}
.region-sidebar-first .block,
.region-sidebar-second .block {
  margin-bottom: 10px;
  width: 220px;
}
.region-sidebar-first .block,
.region-sidebar-second .block {
  background: url("../images/block-tr.png") no-repeat top right;
}
.region-sidebar-first h2.block-title,
.region-sidebar-second h2.block-title {
  background: url("../images/block-tl.png") no-repeat top left;
}
.region-sidebar-first .block-inner,
.region-sidebar-second .block-inner {
  background: url("../images/block-br.png") no-repeat bottom right;
}
.region-sidebar-first .block-content,
.region-sidebar-second .block-content {
  background: url("../images/block-bl.png") no-repeat bottom left;
}
.region-sidebar-first .block-content-inner,
.region-sidebar-second .block-content-inner {
  background: url("../images/block-tile.png") repeat;
  margin: 0;
  padding: 10px 15px 5px 15px;
}
.block h2.block-title {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
	 height: 22px;
  margin: 0px;
  padding: 5px 0 0 0;
  text-align: center;
}
.block h3 {
  padding: 0 3px;
  font-size: 12px;
}
.block ul.links {
  margin:0;
  padding:0 0 5px;
}
.block ul.links li {
  font-size: 10px;
}
/* blocks showing nodes, e.g help out views blocks */
.block .node h2.title {
  font-size: 13px;
}
.block .node {
  padding: 5px 5px 0;
}
.block .node,
.block .node .node-inner-0,
.block .node .node-inner-1,
.block .node .node-inner-2,
.block .node  .node-inner-3
.block .sticky,
.block .sticky .node-inner-0,
.block .sticky .node-inner-1,
.block .sticky .node-inner-2,
.block .sticky .node-inner-3 {
  background: #FFF;
}

/**
 * Remove #footer 
 */
